<style>
  .bg {
    background-image: url("https://cdn.shopify.com/s/files/1/0634/4707/2998/files/Wood-Pile-BG.jpg?v=1654529158"), linear-gradient(#3D484E 90%, #fff 30%);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="bg"></div>